#game{
  display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
}
.tower{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border:1px solid black;
}
.bloco{
    display:none;
}
.bloco::after{
  content:"___";
}
.block{
  border-radius: 20px;
  height: 20px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  margin-bottom: 5px;
}

.block:last-child{
  margin-bottom: 0px;
}