#game{
  display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
}
.tower{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border:1px solid black;
}
.bloco{
    display:none;
}
.bloco::after{
  content:"___";
}
.block{
  border-radius: 20px;
  height: 20px
}